{:paths ["src" "test" "other-tests" "cljs-test-runner-out"]
 :deps {org.clojure/clojure {:mvn/version "1.9.0"}
        org.clojure/clojurescript {:mvn/version "1.10.339"}
        org.clojure/tools.namespace {:mvn/version "0.3.0-alpha4"}
        org.clojure/tools.cli {:mvn/version "0.4.1"}
        doo {:mvn/version "0.1.10"}}
 :aliases {:test {:main-opts ["-m" "cljs-test-runner.main"]}}}
